.no_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-price>.final_rpice{
    color: #32CD32;
}

.django-ckeditor-widget textarea {
    width: 100%;           
    box-sizing: border-box; 
}
.myinput{
    width: 100%;
    margin-bottom: 12px;
}

.password_hide{
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
}
.password_field{
    background: none;
    color: red;
}
.form-errors {
    color: red;
    font-size: 18px;
    margin-top: 4px;
    text-align: center;
}

#custom-messages {
    width: 100%;
    height:48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #32CD32;
    background-color: #081828;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1.5s ease-out;
  }

  .custom-alert {
    padding: 10px 20px;
  }