.preview__image{
    width: 40px;
    height: 40px;
}

.price{
    color:#63B00C;
}
th.column-price_tag{
    color: green;
}

.final_price{
    color: #34b09d !important;
}
th.column-final_price_tag {
    color: #34b09d !important;
}

th.column-discount_tag{
    color: #F4CA16;
}
.discount{
    color: #F4CA16;
}
th.column-tax_tag{
    color: #168cf4;
}
.tax{
    color: #168cf4;
}




