{% extends "shop/layouts/base.html" %}
{% load static %}

{% block content %}
    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg" style="background: url(assets/img/breadcrumb/01.jpg)"></div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">Category Three</h4>
                    <ul class="breadcrumb-menu">
                        <li><a href="index.html"><i class="far fa-home"></i> Home</a></li>
                        <li class="active">Category Three</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- category area -->
        <div class="category-area3 py-90">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="site-heading-inline">
                            <h2 class="site-title"><img src="assets/img/icon/category.svg" alt="">Our Category</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for cat in category_detail.products.all %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="category-item">
                            <div class="category-img-box">
                                <a href="category-3.html#">
                                    <div class="category-img">
                                        <div class="thumb-big">
                                            {% if cat.poster %}
                                            <img src="{{ cat.poster.url }}" alt="">
                                            {% else %}
                                            <img class="no-image" src="{% static 'shop/assets/img/no_image/no_image.svg' %}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="thumb-list">
                                            <div class="thumb-list-1"><img src="assets/img/category/c2.png" alt=""></div>
                                            <div class="thumb-list-2"><img src="assets/img/category/c3.png" alt=""></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="category-img-info">
                                    <h4>{{ cat.title }}</h4>
                                    <p>Starting from $56.89</p>
                                    <a class="theme-btn" href="category-3.html#">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <div class="text-center mt-3">
                            <a href="category-3.html#" class="theme-btn"><span class="fas fa-arrow-rotate-left"></span> Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- category area end-->


        <!-- newsletter area -->
        <div class="newsletter-area pt-60 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="newsletter-content">
                            <h3>Get <span>20%</span> Off Discount Coupon</h3>
                            <p>By Subscribe Our Newsletter</p>
                            <div class="subscribe-form">
                                <form action="category-3.html#">
                                    <input type="email" class="form-control" placeholder="Your Valid Email Address">
                                    <button class="theme-btn" type="submit">
                                        Subscribe <i class="far fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newsletter-img-1">
                <img src="assets/img/newsletter/01.png" alt="">
            </div>
            <div class="newsletter-img-2">
                <img src="assets/img/newsletter/02.png" alt="">
            </div>
        </div>
        <!-- newsletter area end -->

    </main>
{% endblock %}    


   