{% load static %}
<footer class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-70">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box about-us">
                        <a href="index.html#" class="footer-logo">
                            <img src="{% static 'shop/assets/img/logo/logo-light.png' %}" alt="">
                        </a>
                        <p class="mb-1">
                            We are many variations of the passages available but the majoro have suffered alteration
                            in some form by injected.
                        </p>
                        <div class="footer-call">
                            <div class="footer-call-icon">
                                <i class="fal fa-headset"></i>
                            </div>
                            <div class="footer-call-info">
                                <p>24/7 Need Any Help?</p>
                                <a href="tel:+21236547898">(+2) 222 666 7777</a>
                            </div>
                        </div>
                        <div class="footer-download">
                            <h5>Get Our Mobile App</h5>
                            <div class="footer-download-btn">
                                <a href="index.html#">
                                    <i class="fab fa-google-play"></i>
                                    <div class="download-btn-info">
                                        <span>Get It On</span>
                                        <h6>Google Play</h6>
                                    </div>
                                </a>
                                <a href="index.html#">
                                    <i class="fab fa-app-store"></i>
                                    <div class="download-btn-info">
                                        <span>Get It On</span>
                                        <h6>App Store</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="index.html#">About Us</a></li>
                            <li><a href="index.html#">Become A Seller</a></li>
                            <li><a href="index.html#">Contact Us</a></li>
                            <li><a href="index.html#">Update News</a></li>
                            <li><a href="index.html#">Testimonials</a></li>
                            <li><a href="index.html#">Terms Of Service</a></li>
                            <li><a href="index.html#">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Browse Category</h4>
                        <ul class="footer-list">
                            <li><a href="index.html#">Accessories</a></li>
                            <li><a href="index.html#">Home & Garden</a></li>
                            <li><a href="index.html#">Electronics</a></li>
                            <li><a href="index.html#">Health & Beauty</a></li>
                            <li><a href="index.html#">Groceries</a></li>
                            <li><a href="index.html#">Baby Toys</a></li>
                            <li><a href="index.html#">Music & Video</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Support Center</h4>
                        <ul class="footer-list">
                            <li><a href="index.html#">FAQ's</a></li>
                            <li><a href="index.html#">How To Buy</a></li>
                            <li><a href="index.html#">Support Center</a></li>
                            <li><a href="index.html#">Track Your Order</a></li>
                            <li><a href="index.html#">Returns Policy</a></li>
                            <li><a href="index.html#">Our Affiliates</a></li>
                            <li><a href="index.html#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Get In Touch</h4>
                        <p>Feel Free To Get In Touch With Us Today. We Are Ready To Help You.</p>
                        <ul class="footer-contact">
                            <li><a href="tel:+21236547898"><i class="far fa-phone"></i>+2 123 654 7898</a></li>
                            <li><i class="far fa-map-marker-alt"></i>25/B Milford Road, New York</li>
                            <li><a href="../cdn-cgi/l/email-protection.html#731a1d151c33160b121e031f165d101c1e"><i
                                        class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="8fe6e1e9e0cfeaf7eee2ffe3eaa1ece0e2">[email&#160;protected]</span></a></li>
                            <li><i class="far fa-clock"></i>Mon-Fri (9.00AM - 8.00PM)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="footer-top-link">
                        <h5>Top Links</h5>
                        <div class="footer-top-link-info">
                            <a href="index.html#">Top Sellers</a>
                            <a href="index.html#">New Arrivals</a>
                            <a href="index.html#">Accessories</a>
                            <a href="index.html#">Electronics</a>
                            <a href="index.html#">Groceries</a>
                            <a href="index.html#">Beauty</a>
                            <a href="index.html#">Health</a>
                            <a href="index.html#">Baby Toys</a>
                            <a href="index.html#">Music</a>
                            <a href="index.html#">Furniture</a>
                            <a href="index.html#">Gifts</a>
                            <a href="index.html#">Sports</a>
                            <a href="index.html#">Automotive</a>
                            <a href="index.html#">Watch</a>
                            <a href="index.html#">Sitemap</a>
                            <a href="index.html#">Our Affiliates</a>
                            <a href="index.html#">Returns Policy</a>
                            <a href="index.html#">Video</a>
                            <a href="index.html#">Home & Garden</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrap">
                <div class="row">
                    <div class="col-12 col-lg-4 align-self-center">
                        <div class="footer-payment">
                            <span>We Accept:</span>
                            <img src="https://live.themewild.com/goemart/{% static 'shop/assets//img/payment/visa.svg' %}" alt="">
                            <img src="https://live.themewild.com/goemart/{% static 'shop/assets//img/payment/mastercard.svg' %}" alt="">
                            <img src="https://live.themewild.com/goemart/{% static 'shop/assets//img/payment/amex.svg' %}" alt="">
                            <img src="https://live.themewild.com/goemart/{% static 'shop/assets//img/payment/discover.svg' %}" alt="">
                            <img src="https://live.themewild.com/goemart/{% static 'shop/assets//img/payment/paypal.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="index.html#"> Goemart </a> All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 align-self-center">
                        <div class="footer-social">
                            <span>Follow Us:</span>
                            <a href="index.html#"><i class="fab fa-facebook-f"></i></a>
                            <a href="index.html#"><i class="fab fa-twitter"></i></a>
                            <a href="index.html#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="index.html#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>