{% load static %}
    <div class="modal popup-banner fade" id="popup-banner" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal"><i class="far fa-xmark"></i></button>
                <div class="modal-body">
                    <div class="popup-banner-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="popup-banner-img">
                                    <img src="{% static 'shop/assets/img/banner/popup-banner.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="popup-banner-info">
                                    <h6>7 Days Super Sale !</h6>
                                    <h2>Hurry Up! Get Up To <span>50%</span> Discount</h2>
                                    <p>There are many variations the majority have suffered alteration in some form injected words look even slightly believable.</p>
                                    <a href="index.html#" class="theme-btn">Start Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>