{% load static %}
<script src="{% static 'shop/assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'shop/assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'shop/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'shop/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'shop/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'shop/assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'shop/assets/js/jquery.appear.min.js' %}"></script>
<script src="{% static 'shop/assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'shop/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'shop/assets/js/counter-up.js' %}"></script>
<script src="{% static 'shop/assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'shop/assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'shop/assets/js/countdown.min.js' %}"></script>
<script src="{% static 'shop/assets/js/wow.min.js' %}"></script>
<script src="{% static 'shop/assets/js/flex-slider.js' %}"></script>
<script src="{% static 'shop/assets/js/main.js' %}"></script>