<!DOCTYPE html>
<html lang="en">

<head>
{% include "shop/partials/head.html" %}
</head>

<body>
{% include "shop/partials/preloader.html" %}

<header class="header"> 
{% include "shop/partials/topbar.html" %}
{% include "shop/partials/middlebar.html" %}
{% include "shop/partials/navbar.html" %}
</header>

    {% block content %}

    {% endblock %}

    {% include "shop/partials/footer.html" %}
    {% include "shop/partials/scroll.html" %}
    {% include "shop/partials/modal_shop.html" %}
    {% include "shop/partials/modal_shop_pop.html" %}
    {% include "shop/partials/scripts.html" %}
</body>

</html>