{% load static %}
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- title -->
    <title>Goemart - Multipurpose eCommerce HTML5 Template</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'public/assets/img/logo/favicon.png' %}">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'public/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/assets/css/all-fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/assets/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/assets/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/assets/css/style.css' %}">